#taskDetail{
    position: relative;
    top:100px;
    left:70px;
    width:650px;
    border: solid 3px #f0f0f0;
    padding: 25px;
}
#taskDetail ul{
    list-style: none;
}
#img{
    width:70px;
    height:70px;
    border-radius: 100%;
}
button{
    padding: 5px;
    width: 50px;
    height:30px;
}

span{
    display: inline-block;
    font-size: 13px;
}

.star{
    width:25px;
    height:25px;
    border-radius: 100%;
    margin-left: 28px;
}
.littleStar{
    width:25px;
    height:25px;
    border-radius: 100%;
}

#member{
    width:300px;
    position: relative;
    left:70%;
    z-index: -100;
    top:-200px;
}
#image{
    width:40px;
    height:40px;
    border-radius: 100%;
}

.name{
    display: inline-block;
    vertical-align: middle;
}
#form{
    display: none;
    z-index: 1000;
    position: relative;
    top: -100px;
    left: 150px;
}
#close{
    float:right;
    position: relative;
    right: 5px;
    top: 5px;
}
*{
    margin: 0;
    padding: 0;
}
#modify{
    width: 300px;
    height: 350px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -100px;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #fff;
}
#modify span{
    font-size: 16px;
}
#modify input, textarea{
    width: 169px;
    position: relative;
    right: -10px;
}

#modify input{
    height: 20px;
    margin: 5px 0;
    /*line-height: 30px;*/
}
#modify textarea{
    height: 30px;
}
