*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
}

.overlay{
    width:300px;
    height:300px;
    position: absolute;
    top:50%;
    left:50%;
    padding:10px 50px;
    transform: translate(-50%,-50%);
    border: 2px solid pink;
    border-radius: 20px;
}
.overlay form{
    width:300px;
    height: 400px;
}
form input{
    height: 25px;
    float: right;
    display: inline-block;
    margin-bottom: 10px;
}

form label{
    width:30%;
    float: left;
    padding: 8px 0 5px 0;
}

#u-img{
    width:100px;
    height:100px;
    border-radius: 100%;
    border:1px solid black;
}

