*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
}

.overlay{
    position: relative;
    margin-top: 0;
    top:100px;
    /*left:10%;*/
}
.overlay tr{
    height:35px;
    border-bottom: 1px solid #b8b8b8;
}
.overlay td{
    width:200px;
    padding: 10px 0;
    text-align: center;
}
.overlay input{
    line-height: 25px;
}
.tips{
    display: none;
}
.top-line img{
    width:80px;
    height:80px;
    border-radius: 100%;
}
button{
    padding: 5px;
    width: 50px;
    height:30px;
}